__tests__
.DS_Store
.editorconfig
.eslintrc
.prettierrc
.travis.yml
CONTRIBUTING.md
coverage
gh_rsa.enc
gh_rsa.pub
gulpfile.js
jest.config.js
node_modules
npm-debug.log
reports
scripts
src
tasks
tsconfig.json
tslint.json
