[{"scope":"https://api.github.com:443","method":"GET","path":"/repos/protoEvangelion/gh/issues/7","body":"","status":200,"response":{"type":"Buffer","data":[31,139,8,0,0,0,0,0,0,19,237,152,223,111,155,48,16,199,255,149,202,207,73,13,73,87,90,164,105,79,125,220,38,77,157,38,109,154,34,3,46,88,51,54,178,13,85,134,242,191,239,108,126,133,44,75,51,218,135,60,16,33,37,177,239,62,156,15,223,23,142,26,149,138,163,16,101,198,20,58,196,152,20,236,58,101,38,43,163,235,88,230,88,209,66,106,92,40,105,228,67,69,68,74,57,147,2,167,25,102,90,151,84,227,0,45,144,179,97,70,170,237,102,18,11,16,156,68,148,235,105,238,125,40,184,161,212,88,144,156,238,128,10,94,57,21[...]
{"scope":"https://api.github.com:443","method":"PATCH","path":"/repos/protoEvangelion/gh/issues/7","body":{"state":"closed","labels":[]},"status":200,"response":{"type":"Buffer","data":[31,139,8,0,0,0,0,0,0,19,237,152,223,111,155,48,16,199,255,149,202,207,73,13,164,109,50,164,105,79,125,220,38,77,157,38,109,154,144,1,23,172,25,27,97,67,149,161,252,239,59,155,95,33,203,146,140,246,33,15,68,72,73,236,187,15,231,131,251,194,185,70,101,193,145,143,82,173,115,229,99,76,114,118,155,48,157,150,225,109,36,51,92,208,92,42,156,23,82,203,199,138,136,132,114,38,5,78,82,204,148,42,169,194,107,180,64,214,134,105,89,108,131,73,44,64,112,18,[...]
[...]
