[{"scope":"https://api.github.com:443","method":"GET","path":"/repos/protoEvangelion/gh/pulls/97","body":"","status":200,"response":{"type":"Buffer","data":[31,139,8,0,0,0,0,0,0,19,237,91,91,111,164,54,20,254,43,17,175,157,6,152,59,35,85,219,151,85,171,62,236,74,221,86,149,90,85,200,96,51,184,1,76,193,76,58,139,230,191,247,28,99,96,72,50,153,196,68,109,30,136,38,201,96,124,62,31,219,199,231,242,33,106,171,42,18,107,103,197,82,230,229,206,182,73,206,111,247,92,198,85,112,27,138,212,46,88,46,74,59,47,132,20,31,15,36,219,179,132,139,204,222,199,118,94,37,73,105,123,27,107,102,113,106,237,92,199,113,102,86,38,40,243,245,165,59,3,204,52,241,135,240,103,[...]
{"scope":"https://api.github.com:443","method":"POST","path":"/repos/node-gh-bot/gh/pulls","body":{"base":"master","head":"protoEvangelion:test","body":"pr description","title":"pr title"},"status":201,"response":{"url":"https://api.github.com/repos/node-gh-bot/gh/pulls/3","id":1020,"node_id":1021,"html_url":"https://github.com/node-gh-bot/gh/pull/3","diff_url":"https://github.com/node-gh-bot/gh/pull/3.diff","patch_url":"https://github.com/node-gh-bot/gh/pull/3.patch","issue_url":"https://api.github.com/repos/node-gh-bot/gh/issues/3","number":3,"state":"open","locked":false,"title":"pr title","user":{"login":"protoEvangelion","id":1022,"node_id":1023,"avatar_url":"https://avatars3.githubusercontent.com/u/000000001?v=4","gravatar_id":"","url":"https://api.github.com/users/protoEvangelion","html_url":"https://github.com/protoEvangelion","followers_url":"https://api.github.com/users/protoEvangelion/followers","following_url":"https://api.github.com/users/protoEvangelion/following{/other_user}","gists_url":"https://api.github.com/users/protoEvangelion/gists{/gist_id}","starred_url":"https://api.github.com/users/protoEvangelion/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/protoEvangelion/subscriptions","organizations_url":"https://api.github.com/users/protoEvangelion/orgs","repos_url":"https://api.github.com/users/protoEvangelion/repos","events_url":"https://api.github.com/users/protoEvangelion/events{/privacy}","received_events_url":"https://api.github.com/users/protoEvangelion/received_events","type":"User","site_admin":false},"body":"pr description","created_at":"2017-10-10T16:00:00Z","updated_at":"2017-10-10T16:00:00Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"commits_url":"https://api.github.com/repos/node-gh-bot/gh/pulls/3/commits","review_comments_url":"https://api.github.com/repos/node-gh-bot/gh/pulls/3/comments","review_comment_url":"https://api.github.com/repos/node-gh-bot/gh/pulls/comments{/number}","comments_url":"https://api.github.com/repos/node-gh-bot/gh/issues/3/comments","statuses_url":"https://api.github.com/repos/node-gh-bot/gh/statuses/31e7dedd4e000000001e38949a33e02fd30bcef6b8427","head":{"label":"protoEvangelion:test","ref":"test","sha":"31e7dedd4e8795e38949a33e02fd30bcef6b8427","user":{"login":"protoEvangelion","id":1024,"node_id":1025,"avatar_url":"https://avatars3.githubusercontent.com/u/000000001?v=4","gravatar_id":"","url":"https://api.github.com/users/protoEvangelion","html_url":"https://github.com/protoEvangelion","followers_url":"https://api.github.com/users/protoEvangelion/followers","following_url":"https://api.github.com/users/protoEvangelion/following{/other_user}","gists_url":"https://api.github.com/users/protoEvangelion/gists{/gist_id}","starred_url":"https://api.github.com/users/protoEvangelion/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/protoEvangelion/subscriptions","organizations_url":"https://api.github.com/users/protoEvangelion/orgs","repos_url":"https://api.github.com/users/protoEvangelion/repos","events_url":"https://api.github.com/users/protoEvangelion/events{/privacy}","received_events_url":"https://api.github.com/users/protoEvangelion/received_events","type":"User","site_admin":false},"repo":{"id":1026,"node_id":1027,"name":"gh","full_name":"protoEvangelion/gh","private":false,"owner":{"login":"protoEvangelion","id":1028,"node_id":1029,"avatar_url":"https://avatars3.githubusercontent.com/u/000000001?v=4","gravatar_id":"","url":"https://api.github.com/users/protoEvangelion","html_url":"https://github.com/protoEvangelion","followers_url":"https://api.github.com/users/protoEvangelion/followers","following_url":"https://api.github.com/users/protoEvangelion/following{/other_user}","gists_url":"https://api.github.com/users/protoEvangelion/gists{/gist_id}","starred_url":"https://api.github.com/users/protoEvangelion/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/protoEvangelion/subscriptions","organizations_url":"https://api.github.com/users/protoEvangelion/orgs","repos_url":"https://api.github.com/users/protoEvangelion/repos","events_url":"https://api.github.com/users/protoEvangelion/events{/privacy}","received_events_url":"https://api.github.com/users/protoEvangelion/received_events","type":"User","site_admin":false},"html_url":"https://github.com/protoEvangelion/gh","description":"GitHub command line tools made with NodeJS","fork":true,"url":"https://api.github.com/repos/protoEvangelion/gh","forks_url":"https://api.github.com/repos/protoEvangelion/gh/forks","keys_url":"https://api.github.com/repos/protoEvangelion/gh/keys{/key_id}","collaborators_url":"https://api.github.com/repos/protoEvangelion/gh/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/protoEvangelion/gh/teams","hooks_url":"https://api.github.com/repos/protoEvangelion/gh/hooks","issue_events_url":"https://api.github.com/repos/protoEvangelion/gh/issues/events{/number}","events_url":"https://api.github.com/repos/protoEvangelion/gh/events","assignees_url":"https://api.github.com/repos/protoEvangelion/gh/assignees{/user}","branches_url":"https://api.github.com/repos/protoEvangelion/gh/branches{/branch}","tags_url":"https://api.github.com/repos/protoEvangelion/gh/tags","blobs_url":"https://api.github.com/repos/protoEvangelion/gh/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/protoEvangelion/gh/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/protoEvangelion/gh/git/refs{/sha}","trees_url":"https://api.github.com/repos/protoEvangelion/gh/git/trees{/sha}","statuses_url":"https://api.github.com/repos/protoEvangelion/gh/statuses/{sha}","languages_url":"https://api.github.com/repos/protoEvangelion/gh/languages","stargazers_url":"https://api.github.com/repos/protoEvangelion/gh/stargazers","contributors_url":"https://api.github.com/repos/protoEvangelion/gh/contributors","subscribers_url":"https://api.github.com/repos/protoEvangelion/gh/subscribers","subscription_url":"https://api.github.com/repos/protoEvangelion/gh/subscription","commits_url":"https://api.github.com/repos/protoEvangelion/gh/commits{/sha}","git_commits_url":"https://api.github.com/repos/protoEvangelion/gh/git/commits{/sha}","comments_url":"https://api.github.com/repos/protoEvangelion/gh/comments{/number}","issue_comment_url":"https://api.github.com/repos/protoEvangelion/gh/issues/comments{/number}","contents_url":"https://api.github.com/repos/protoEvangelion/gh/contents/{+path}","compare_url":"https://api.github.com/repos/protoEvangelion/gh/compare/{base}...{head}","merges_url":"https://api.github.com/repos/protoEvangelion/gh/merges","archive_url":"https://api.github.com/repos/protoEvangelion/gh/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/protoEvangelion/gh/downloads","issues_url":"https://api.github.com/repos/protoEvangelion/gh/issues{/number}","pulls_url":"https://api.github.com/repos/protoEvangelion/gh/pulls{/number}","milestones_url":"https://api.github.com/repos/protoEvangelion/gh/milestones{/number}","notifications_url":"https://api.github.com/repos/protoEvangelion/gh/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/protoEvangelion/gh/labels{/name}","releases_url":"https://api.github.com/repos/protoEvangelion/gh/releases{/id}","deployments_url":"https://api.github.com/repos/protoEvangelion/gh/deployments","created_at":"2017-10-10T16:00:00Z","updated_at":"2017-10-10T16:00:00Z","pushed_at":"2017-10-10T16:00:00Z","git_url":"git://github.com/protoEvangelion/gh.git","ssh_url":"git@github.com:protoEvangelion/gh.git","clone_url":"https://github.com/protoEvangelion/gh.git","svn_url":"https://github.com/protoEvangelion/gh","homepage":"http://nodegh.io","size":11435,"stargazers_count":0,"watchers_count":0,"language":"TypeScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":true,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":42,"license":{"key":"other","name":"Other","spdx_id":1030,"url":null,"node_id":1031},"forks":0,"open_issues":50,"watchers":0,"default_branch":"master"}},"base":{"label":"node-gh-bot:master","ref":"master","sha":"1969fde399ce4f2ff968d0384d0cfde8e59b29a8","user":{"login":"node-gh-bot","id":1032,"node_id":1033,"avatar_url":"https://avatars2.githubusercontent.com/u/000000001?v=4","gravatar_id":"","url":"https://api.github.com/users/node-gh-bot","html_url":"https://github.com/node-gh-bot","followers_url":"https://api.github.com/users/node-gh-bot/followers","following_url":"https://api.github.com/users/node-gh-bot/following{/other_user}","g[...]
