[{"scope":"https://api.github.com:443","method":"GET","path":"/repos/protoEvangelion/gh/labels","body":"","status":200,"response":{"type":"Buffer","data":[31,139,8,0,0,0,0,0,0,19,165,206,57,14,194,48,16,5,208,187,184,14,113,2,1,161,244,156,2,33,228,101,18,91,154,216,150,23,26,196,221,49,136,108,162,204,76,245,127,241,245,174,79,162,37,105,235,170,170,10,98,172,132,251,47,214,5,73,30,73,75,84,140,46,180,148,50,167,203,94,71,149,120,41,236,64,61,56,27,168,243,54,218,203,131,153,30,80,91,67,123,69,145,113,192,64,119,187,20,192,147,60,202,6,200,51,83,22,22,173,207,5,200,207,231,66,66,199,18,70,210,118,12,3,188,138,73,180,95,139,14,27,69,50,57,212,130,69,152,81,203,106,116,137,239,45,93,209,167,37,171,89,179,142,27,89,96,20,51,2,6,48,113,134,173,203,145,118,110,248,9,248,31,237,246,6,14,69,136,196,197,1,0,0]},"rawHeaders":["Date","Sun, 14 Apr 2019 06:39:06 GMT","Content-Type","application/json; charset=utf-8","Transfer-Encoding","chunked","Connection","close","Server","GitHub.com","Status","200 OK","X-RateLimit-Limit","5000","X-RateLimit-Remaining","4989","X-RateLimit-Reset","1555226413","Cache-Control","private, max-age=60, s-maxage=60","Vary","Accept, Authorization, Cookie, X-GitHub-OTP","ETag","W/\"e60533dacdc46875a38e502fd3346f88\"","X-OAuth-Scopes","user, public_repo, repo, repo:status, delete_repo, gist","X-Accepted-OAuth-Scopes","repo","X-GitHub-Media-Type","github.v3; format=json","Access-Control-Expose-Headers","ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type","Access-Control-Allow-Origin","*","Strict-Transport-Security","max-age=31536000; includeSubdomains; preload","X-Frame-Options","deny","X-Content-Type-Options","nosniff","X-XSS-Protection","1; mode=block","Referrer-Policy","origin-when-cross-origin, strict-origin-when-cross-origin","Content-Security-Policy","default-src 'none'","Content-Encoding","gzip","Vary","Accept-Encoding","X-GitHub-Request-Id","CE5A:6B39:D8D283:1066652:5CB2D58A"]}]
