[
    {
        "scope": "https://api.github.com:443",
        "method": "POST",
        "path": "/gists/5444883/forks",
        "body": "",
        "status": 201,
        "response": {
            "url": "https://api.github.com/gists/c93ab6d93dde5dfa3fe9f0b000000001b1643c",
            "forks_url": "https://api.github.com/gists/c93ab6d93dde5dfa3fe9f0b000000001b1643c/forks",
            "commits_url": "https://api.github.com/gists/c93ab6d93dde5dfa3fe9f0b000000001b1643c/commits",
            "id": 1000,
            "node_id": 1001,
            "git_pull_url": "https://gist.github.com/c93ab6d93dde5dfa3fe9f0b000000001b1643c.git",
            "git_push_url": "https://gist.github.com/c93ab6d93dde5dfa3fe9f0b000000001b1643c.git",
            "html_url": "https://gist.github.com/c93ab6d93dde5dfa3fe9f0b000000001b1643c",
            "files": {
                "html5-demos.md": {
                    "filename": "html5-demos.md",
                    "type": "text/plain",
                    "language": "Markdown",
                    "raw_url": "https://gist.githubusercontent.com/protoEvangelion/c93ab6d93dde5dfa3fe9f0b000000001b1643c/raw/25ec9d6bae86e0a41b5fec48ea918a92d8bed480/html5-demos.md",
                    "size": 987
                }
            },
            "public": true,
            "created_at": "2017-10-10T16:00:00Z",
            "updated_at": "2017-10-10T16:00:00Z",
            "description": "The HTML5 Amount of Awesomeness (work in progress)",
            "comments": 0,
            "user": null,
            "comments_url": "https://api.github.com/gists/c93ab6d93dde5dfa3fe9f0b000000001b1643c/comments",
            "owner": {
                "login": "protoEvangelion",
                "id": 1002,
                "node_id": 1003,
                "avatar_url": "https://avatars3.githubusercontent.com/u/000000001?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/protoEvangelion",
                "html_url": "https://github.com/protoEvangelion",
                "followers_url": "https://api.github.com/users/protoEvangelion/followers",
                "following_url": "https://api.github.com/users/protoEvangelion/following{/other_user}",
                "gists_url": "https://api.github.com/users/protoEvangelion/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/protoEvangelion/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/protoEvangelion/subscriptions",
                "organizations_url": "https://api.github.com/users/protoEvangelion/orgs",
                "repos_url": "https://api.github.com/users/protoEvangelion/repos",
                "events_url": "https://api.github.com/users/protoEvangelion/events{/privacy}",
                "received_events_url": "https://api.github.com/users/protoEvangelion/received_events",
                "type": "User",
                "site_admin": false
            },
            "truncated": false
        },
        "rawHeaders": [
            "GitHub.com",
            "Fri, 19 Apr 2019 02:14:07 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "2121",
            "close",
            "Status",
            "201 Created",
            "X-RateLimit-Limit",
            "5000",
            "X-RateLimit-Remaining",
            "4992",
            "X-RateLimit-Reset",
            "1555643647",
            "private, max-age=60, s-maxage=60",
            "ETag",
            "\"9d15cff921b11df0d08a61ac5f7eaa9e\"",
            "X-OAuth-Scopes",
            "user, public_repo, repo, repo:status, delete_repo, gist",
            "X-Accepted-OAuth-Scopes",
            "",
            "Location",
            "https://api.github.com/gists/c93ab6d93dde5dfa3fe9f0b987b1643c",
            "X-GitHub-Media-Type",
            "github.v3; format=json",
            "ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type",
            "*",
            "max-age=31536000; includeSubdomains; preload",
            "deny",
            "nosniff",
            "1; mode=block",
            "origin-when-cross-origin, strict-origin-when-cross-origin",
            "default-src 'none'",
            "E78D:1EAF:1D5000:417B33:5CB92EED"
        ]
    }
]
