[{"scope":"https://api.github.com:443","method":"DELETE","path":"/gists/5250d21093b46bd0665c2e8656d16bd2","body":"","status":204,"response":{},"rawHeaders":["Date","Thu, 18 Apr 2019 22:42:02 GMT","Content-Type","application/octet-stream","Connection","close","Server","GitHub.com","Status","204 No Content","X-RateLimit-Limit","5000","X-RateLimit-Remaining","4999","X-RateLimit-Reset","1555630922","X-OAuth-Scopes","user, public_repo, repo, repo:status, delete_repo, gist","X-Accepted-OAuth-Scopes","","X-GitHub-Media-Type","github.v3; format=json","Access-Control-Expose-Headers","ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type","Access-Control-Allow-Origin","*","Strict-Transport-Security","max-age=31536000; includeSubdomains; preload","X-Frame-Options","deny","X-Content-Type-Options","nosniff","X-XSS-Protection","1; mode=block","Referrer-Policy","origin-when-cross-origin, strict-origin-when-cross-origin","Content-Security-Policy","default-src 'none'","Vary","Accept-Encoding","X-GitHub-Request-Id","EB65:747E:1C30D89:221FF9E:5CB8FD3A"]},[...]
