[{"scope":"https://api.github.com:443","method":"GET","path":"/search/issues?q=type%3Aissue%20repo%3Agh%20user%3AprotoEvangelion%20hi&type=Issues","body":"","status":200,"response":{"type":"Buffer","data":[31,139,8,0,0,0,0,0,0,19,237,154,111,111,171,54,20,198,191,74,197,203,42,13,24,19,8,145,166,73,147,238,203,187,73,211,157,38,109,186,138,8,184,9,186,14,102,216,164,234,162,124,247,29,19,18,112,255,220,180,64,84,182,157,42,82,5,216,15,39,142,125,126,156,7,239,45,37,84,196,151,177,40,51,101,45,60,119,98,165,89,44,182,57,103,138,45,11,38,75,174,164,181,184,143,184,100,112,73,177,45,28,253,185,183,202,130,91,11,107,163,84,46,23,182,29,229,233,116,157,170,77,185,154,66,95,187,96,185,144,118,94,8,37,6[...]
