[{"scope":"https://api.github.com:443","method":"GET","path":"/repos/protoEvangelion/gh/issues/7","body":"","status":200,"response":{"type":"Buffer","data":[31,139,8,0,0,0,0,0,0,19,237,152,223,111,155,48,16,199,255,149,202,207,73,13,73,87,90,164,105,79,125,220,38,77,157,38,109,154,34,3,46,88,51,54,178,13,85,134,242,191,239,108,126,133,44,75,51,218,135,60,16,33,37,177,239,62,156,15,223,23,142,26,149,138,163,16,101,198,20,58,196,152,20,236,58,101,38,43,163,235,88,230,88,209,66,106,92,40,105,228,67,69,68,74,57,147,2,167,25,102,90,151,84,227,0,45,144,179,97,70,170,237,102,18,11,16,156,68,148,235,105,238,125,40,184,161,212,88,144,156,238,128,10,94,57,21[...]
{"scope":"https://api.github.com:443","method":"PATCH","path":"/repos/protoEvangelion/gh/issues/7","body":{"state":"open","labels":[]},"status":200,"response":{"type":"Buffer","data":[31,139,8,0,0,0,0,0,0,19,237,152,77,143,155,48,16,134,255,202,202,231,100,13,236,71,182,72,85,79,123,108,43,85,91,85,106,85,33,3,94,176,106,108,132,13,171,20,229,191,119,236,240,17,178,81,146,178,123,200,193,17,82,132,61,243,48,12,158,23,198,45,170,43,142,66,148,107,93,170,16,99,82,178,235,140,233,188,142,175,19,89,224,138,150,82,225,178,146,90,62,54,68,100,148,51,41,112,150,99,166,84,77,21,94,161,5,178,54,76,203,106,29,205,98,1,130,147,152,114[...]
[...]
