[{"scope":"https://api.github.com:443","method":"POST","path":"/repos/protoEvangelion/gh/issues?","body":{"title":"Node GH rocks!","labels":["bug","question","test"]},"status":201,"response":{"url":"https://api.github.com/repos/protoEvangelion/gh/issues/88","repository_url":"https://api.github.com/repos/protoEvangelion/gh","labels_url":"https://api.github.com/repos/protoEvangelion/gh/issues/88/labels{/name}","comments_url":"https://api.github.com/repos/protoEvangelion/gh/issues/88/comments","events_url":"https://api.github.com/repos/protoEvangelion/gh/issues/88/events","html_url":"https://github.com/protoEvangelion/gh/issues/88","id":1000,"node_id":1001,"number":88,"title":"Node GH rocks!","user":{"login":"protoEvangelion","id":1002,"node_id":1003,"avatar_url":"https://avatars3.githubusercontent.com/u/000000001?v=4","gravatar_id":"","url":"https://api.github.com/users/protoEvangelion","html_url":"https://github.com/protoEvangelion","followers_url":"https://api.github.com/users/protoEvangelion/followers","following_url":"https://api.github.com/users/protoEvangelion/following{/other_user}","gists_url":"https://api.github.com/users/protoEvangelion/gists{/gist_id}","starred_url":"https://api.github.com/users/protoEvangelion/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/protoEvangelion/subscriptions","organizations_url":"https://api.github.com/users/protoEvangelion/orgs","repos_url":"https://api.github.com/users/protoEvangelion/repos","events_url":"https://api.github.com/users/protoEvangelion/events{/privacy}","received_events_url":"https://api.github.com/users/protoEvangelion/received_events","type":"User","site_admin":false},"labels":[{"id":1004,"node_id":1005,"url":"https://api.github.com/repos/protoEvangelion/gh/labels/bug","name":"bug","color":"ee0701","default":true},{"id":1006,"node_id":1007,"url":"https://api.github.com/repos/protoEvangelion/gh/labels/question","name":"question","color":"cc317c","default":true},{"id":1008,"node_id":1009,"url":"https://api.github.com/repos/protoEvangelion/gh/labels/test","name":"test","color":"ededed","default":false}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2017-10-10T16:00:00Z","updated_at":"2017-10-10T16:00:00Z","closed_at":null,"author_association":"OWNER","body":null,"closed_by":null},"rawHeaders":["Server","GitHub.com","Date","Sun, 13 Jan 2019 05:56:33 GMT","Content-Type","application/json; charset=utf-8","Content-Length","2296","Connection","close","Status","201 Created","X-RateLimit-Limit","5000","X-RateLimit-Remaining","4976","X-RateLimit-Reset","1547361548","Cache-Control","private, max-age=60, s-maxage=60","Vary","Accept, Authorization, Cookie, X-GitHub-OTP","ETag","\"66fbde146647e5337f85bef90055f979\"","X-OAuth-Scopes","user, public_repo, repo, repo:status, delete_repo, gist","X-Accepted-OAuth-Scopes","","Location","https://api.github.com/repos/protoEvangelion/gh/issues/88","X-GitHub-Media-Type","github.v3; format=json","Access-Control-Expose-Headers","ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type","Access-Control-Allow-Origin","*","Strict-Transport-Security","max-age=31536000; includeSubdomains; preload","X-Frame-Options","deny","X-Content-Type-Options","nosniff","X-XSS-Protection","1; mode=block","Referrer-Policy","origin-when-cross-origin, strict-origin-when-cross-origin","Content-Security-Policy","default-src 'none'","X-GitHub-Request-Id","C774:0F0D:38D249:7D343C:5C3AD311"]}]
