[{"scope":"https://api.github.com:443","method":"GET","path":"/repos/protoEvangelion/gh/issues?state=open","body":"","status":200,"response":{"type":"Buffer","data":[31,139,8,0,0,0,0,0,0,19,237,88,109,111,155,48,16,254,43,157,63,103,5,167,111,9,210,180,79,213,246,169,147,166,77,147,54,85,145,3,14,88,51,54,179,77,170,12,229,191,239,108,32,64,218,53,13,73,181,104,34,141,212,154,222,61,156,15,63,247,112,247,163,64,185,226,40,64,137,49,153,14,60,143,100,236,60,102,38,201,231,231,161,76,61,69,51,169,189,76,73,35,111,151,68,196,148,51,41,188,56,241,152,214,57,213,222,116,138,70,200,25,49,35,213,106,214,11,12,32,56,153,83,174,251,185,55,177,120,37,76,225,9,146,210[...]
{"scope":"https://api.github.com:443","method":"GET","path":"/repositories/110290880/issues?state=open&page=2","body":"","status":200,"response":{"type":"Buffer","data":[31,139,8,0,0,0,0,0,0,19,237,151,209,106,219,48,20,134,95,197,211,101,200,106,37,206,218,204,48,6,131,178,221,180,131,177,49,88,41,65,177,21,91,84,150,60,73,78,200,76,222,125,71,178,147,212,89,104,22,39,221,122,225,96,8,178,207,255,89,58,210,57,63,190,43,81,161,56,10,81,106,76,174,67,223,39,57,187,72,152,73,139,233,69,36,51,95,20[...]
