[
    {
        "scope": "https://api.github.com:443",
        "method": "POST",
        "path": "/repos/protoEvangelion/gh/issues/1/comments?",
        "body": {
            "body": "comment"
        },
        "status": 201,
        "response": {
            "url": "https://api.github.com/repos/protoEvangelion/gh/issues/comments/000000001",
            "html_url": "https://github.com/protoEvangelion/gh/issues/1#issuecomment-000000001",
            "issue_url": "https://api.github.com/repos/protoEvangelion/gh/issues/1",
            "id": 1000,
            "node_id": 1001,
            "user": {
                "login": "protoEvangelion",
                "id": 1002,
                "node_id": 1003,
                "avatar_url": "https://avatars3.githubusercontent.com/u/000000001?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/protoEvangelion",
                "html_url": "https://github.com/protoEvangelion",
                "followers_url": "https://api.github.com/users/protoEvangelion/followers",
                "following_url": "https://api.github.com/users/protoEvangelion/following{/other_user}",
                "gists_url": "https://api.github.com/users/protoEvangelion/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/protoEvangelion/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/protoEvangelion/subscriptions",
                "organizations_url": "https://api.github.com/users/protoEvangelion/orgs",
                "repos_url": "https://api.github.com/users/protoEvangelion/repos",
                "events_url": "https://api.github.com/users/protoEvangelion/events{/privacy}",
                "received_events_url": "https://api.github.com/users/protoEvangelion/received_events",
                "type": "User",
                "site_admin": false
            },
            "created_at": "2017-10-10T16:00:00Z",
            "updated_at": "2017-10-10T16:00:00Z",
            "author_association": "OWNER",
            "body": "comment"
        },
        "rawHeaders": [
            "GitHub.com",
            "Sun, 13 Jan 2019 06:01:55 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "1419",
            "close",
            "Status",
            "201 Created",
            "X-RateLimit-Limit",
            "5000",
            "X-RateLimit-Remaining",
            "4973",
            "X-RateLimit-Reset",
            "1547361548",
            "private, max-age=60, s-maxage=60",
            "ETag",
            "\"9380dfcd483353c5f3477247d0d8f386\"",
            "X-OAuth-Scopes",
            "user, public_repo, repo, repo:status, delete_repo, gist",
            "X-Accepted-OAuth-Scopes",
            "",
            "Location",
            "https://api.github.com/repos/protoEvangelion/gh/issues/comments/453804790",
            "X-GitHub-Media-Type",
            "github.v3; format=json",
            "ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type",
            "*",
            "max-age=31536000; includeSubdomains; preload",
            "deny",
            "nosniff",
            "1; mode=block",
            "origin-when-cross-origin, strict-origin-when-cross-origin",
            "default-src 'none'",
            "C7AA:0F0E:3E69B9:8ED23D:5C3AD452"
        ]
    }
]
