[{"scope":"https://api.github.com:443","method":"GET","path":"/repos/protoEvangelion/gh/pulls/50","status":200,"response":{"type":"Buffer","data":[31,139,8,0,0,0,0,0,0,19,237,91,223,111,164,54,16,254,87,34,94,187,23,96,119,179,155,93,169,186,190,156,90,245,225,78,234,93,85,169,85,133,140,49,139,123,128,169,49,155,238,161,253,223,59,99,12,44,73,54,155,152,168,205,3,167,92,2,198,243,121,108,143,231,199,135,168,157,74,166,206,214,73,148,42,202,173,235,146,130,95,239,184,74,170,240,154,138,204,149,172,16,165,91,72,161,196,135,61,201,119,44,229,34,119,119,137,91,84,105,90,186,55,158,51,115,120,228,108,125,207,243,102,78,46,34,22,152,91,127,6,1[...]
{"scope":"https://api.github.com:443","method":"PATCH","path":"/repos/protoEvangelion/gh/pulls/50","body":{"state":"open","title":"pr2"},"status":200,"response":{"type":"Buffer","data":[31,139,8,0,0,0,0,0,0,19,237,91,223,111,164,54,16,254,87,34,94,187,23,96,217,236,102,87,170,174,47,167,86,125,184,147,122,87,85,106,85,33,99,204,226,6,48,5,179,233,6,237,255,222,25,99,96,217,100,179,137,137,218,60,16,229,199,98,60,159,135,241,120,102,252,57,212,86,85,36,214,198,138,165,204,203,141,109,147,156,95,111,185,140,171,224,154,138,212,46,88,46,74,59,47,132,20,159,118,36,219,178,132,139,204,222,198,118,94,37,73,105,223,56,214,204,226[...]
[...]
