[{"scope":"https://api.github.com:443","method":"GET","path":"/repos/protoEvangelion/gh/pulls/50","status":200,"response":{"type":"Buffer","data":[31,139,8,0,0,0,0,0,0,19,237,91,223,111,171,54,20,254,87,42,94,151,91,32,73,147,38,210,116,247,114,181,105,15,247,74,187,119,154,180,105,66,198,152,224,21,48,51,38,93,138,242,191,239,28,99,72,72,155,166,53,213,214,7,174,122,91,48,62,159,143,237,227,243,227,67,212,78,37,83,103,237,36,74,21,229,218,117,73,193,175,55,92,37,85,120,77,69,230,74,86,136,210,45,164,80,226,211,150,228,27,150,114,145,187,155,196,45,170,52,45,221,27,207,153,56,60,114,214,190,231,121,19,39,23,17,11,204,173,63,1,204,44,13,25[...]
{"scope":"https://api.github.com:443","method":"PATCH","path":"/repos/protoEvangelion/gh/pulls/50","body":{"state":"closed","title":"pr2"},"status":200,"response":{"type":"Buffer","data":[31,139,8,0,0,0,0,0,0,19,237,91,223,111,164,54,16,254,87,34,94,187,23,96,217,236,102,87,170,174,47,167,86,125,184,147,122,87,85,106,85,33,99,204,226,6,48,5,179,233,6,237,255,222,25,99,96,217,100,179,137,137,218,60,112,202,93,192,120,62,143,237,241,252,248,56,106,171,42,18,107,99,197,82,230,229,198,182,73,206,175,183,92,198,85,112,77,69,106,23,44,23,165,157,23,66,138,79,59,146,109,89,194,69,102,111,99,59,175,146,164,180,111,28,107,102,241,208[...]
[...]
