[{"scope":"https://api.github.com:443","method":"GET","path":"/search/repositories?q=octocat%20org%3Agithub&per_page=30","body":"","status":200,"response":{"type":"Buffer","data":[31,139,8,0,0,0,0,0,0,19,173,152,95,139,227,54,16,192,191,138,241,107,115,145,147,219,236,129,161,92,161,79,133,150,150,114,79,45,37,200,246,216,86,87,150,140,36,103,155,53,249,238,29,201,178,99,167,219,252,65,187,132,77,36,107,126,26,143,70,163,25,245,177,145,134,242,125,46,59,97,226,244,105,187,138,153,200,101,211,114,48,176,87,160,59,110,116,156,150,148,107,192,71,6,26,108,253,217,199,172,136,211,77,146,36,171,88,200,2,246,190,185,193,38,109,32,78,99,153,27,153,83,36,203,234,83,193,202,50,94,[...]
