$accent: #4285F4;

@import "marble";

// Root
@import "templates/root";

// Landing
@import "templates/landing";

// Docs
@import "templates/docs";

// Search
@import "templates/search";

// Tutorial
@import "templates/tutorial";

// Custom Styles
th {
	text-align: left;
}

.about-description {
    font-size: 1.5rem;
    line-height: 1.5;
}

@media all and (max-width: 961px) {
    .highlight {
        iframe, img {
            width: 100%;
        }
    }
}

.highlight {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    &.reverse {
        flex-direction: row-reverse;
    }

    > div {
        flex-basis: 45%;
    }

    iframe, img {
        width: 100% !important;
    }

    img {
        padding-top: 2rem;
    }

    @media all and (max-width: 961px) {
        &, &.reverse {
            flex-direction: column;
        }

        > div {
            width: 100% !important;
        }
    }
}

.highlights {
	h4 {
		text-align: center;
	}

	p {
		text-align: center;
	}
}