//
// Labels & Badges
// --------------------------------------------------

.label,
.badge {
  background-color: mix(@inverse, @base, 90%);
  color: mix(@base, @inverse, 65%);
  font-size: @base-font-size * .929;
  line-height: @base-font-size * 1.286; // ~18px
  font-weight: normal;
  margin-right: 4px;
  padding: 1px 9px 2px;
  text-shadow: none;
  text-decoration: none;

  // Labels & Badges Sizes
  // --------------------------------------------------
  &-small {
    font-size: @base-font-size * .72;
    line-height: @base-font-size; // == 14px
    font-weight: 600;
    padding: 0 5px 2px;
  }
  &-large {
    font-weight: 600;
    padding: 4px 10px 5px;
    .border-radius(4px);
  }

  // Alternate Colors
  // --------------------------------------------------
  &-inverse,
  &-inverse[href] {
    background-color: @base;
    color: @inverse;
  }
  &-success,
  &-success[href] {
    background-color: @success;
    color: @inverse;
  }
  &-important,
  &-important[href] {
    background-color: @danger;
    color: @inverse;
  }
  &-warning,
  &-warning[href] {
    background-color: @warning;
    color: @inverse;
  }
  &-info,
  &-info[href] {
    background-color: @info;
    color: @inverse;
  }
  &-primary,
  &-primary[href] {
    background-color: @firm;
    color: @inverse;
  }
}

// Badge case
.badge {
  .border-radius(4px);
}

