[{"scope":"https://api.github.com:443","method":"POST","path":"/gists","body":{"description":"","files":{"hello":{"content":"Hello World!"}},"public":true},"status":201,"response":{"url":"https://api.github.com/gists/000000001e9f6422a8d3cd0feda0a3be845d4","forks_url":"https://api.github.com/gists/000000001e9f6422a8d3cd0feda0a3be845d4/forks","commits_url":"https://api.github.com/gists/000000001e9f6422a8d3cd0feda0a3be845d4/commits","id":1000,"node_id":1001,"git_pull_url":"https://gist.github.com/000000001e9f6422a8d3cd0feda0a3be845d4.git","git_push_url":"https://gist.github.com/000000001e9f6422a8d3cd0feda0a3be845d4.git","html_url":"https://gist.github.com/000000001e9f6422a8d3cd0feda0a3be845d4","files":{"hello":{"filename":"hello","type":"text/plain","language":null,"raw_url":"https://gist.githubusercontent.com/protoEvangelion/000000001e9f6422a8d3cd0feda0a3be845d4/raw/c57eff55ebc0c54973903af5f72bac72762cf4f4/hello","size":12,"truncated":false,"content":"Hello World!"}},"public":true,"created_at":"2017-10-10T16:00:00Z","updated_at":"2017-10-10T16:00:00Z","description":"","comments":0,"user":null,"comments_url":"https://api.github.com/gists/000000001e9f6422a8d3cd0feda0a3be845d4/comments","owner":{"login":"protoEvangelion","id":1002,"node_id":1003,"avatar_url":"https://avatars3.githubusercontent.com/u/000000001?v=4","gravatar_id":"","url":"https://api.github.com/users/protoEvangelion","html_url":"https://github.com/protoEvangelion","followers_url":"https://api.github.com/users/protoEvangelion/followers","following_url":"https://api.github.com/users/protoEvangelion/following{/other_user}","gists_url":"https://api.github.com/users/protoEvangelion/gists{/gist_id}","starred_url":"https://api.github.com/users/protoEvangelion/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/protoEvangelion/subscriptions","organizations_url":"https://api.github.com/users/protoEvangelion/orgs","repos_url":"https://api.github.com/users/protoEvangelion/repos","events_url":"https://api.github.com/users/protoEvangelion/events{/privacy}","received_events_url":"https://api.github.com/users/protoEvangelion/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"protoEvangelion","id":1004,"node_id":1005,"avatar_url":"https://avatars3.githubusercontent.com/u/000000001?v=4","gravatar_id":"","url":"https://api.github.com/users/protoEvangelion","html_url":"https://github.com/protoEvangelion","followers_url":"https://api.github.com/users/protoEvangelion/followers","following_url":"https://api.github.com/users/protoEvangelion/following{/other_user}","gists_url":"https://api.github.com/users/protoEvangelion/gists{/gist_id}","starred_url":"https://api.github.com/users/protoEvangelion/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/protoEvangelion/subscriptions","organizations_url":"https://api.github.com/users/protoEvangelion/orgs","repos_url":"https://api.github.com/users/protoEvangelion/repos","events_url":"https://api.github.com/users/protoEvangelion/events{/privacy}","received_events_url":"https://api.github.com/users/protoEvangelion/received_events","type":"User","site_admin":false},"version":"748167055c2d7cdec298a590357095d2709cb2ca","committed_at":"2017-10-10T16:00:00Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/000000001e9f6422a8d3cd0feda0a3be845d4/748167055c2d7cdec298a590357095d2709cb2ca"}],"truncated":false},"rawHeaders":["Server","GitHub.com","Date","Fri, 19 Apr 2019 02:34:19 GMT","Content-Type","application/json; charset=utf-8","Content-Length","3363","Connection","close","Status","201 Created","X-RateLimit-Limit","5000","X-RateLimit-Remaining","4973","X-RateLimit-Reset","1555644859","Cache-Control","private, max-age=60, s-maxage=60","Vary","Accept, Authorization, Cookie, X-GitHub-OTP","ETag","\"79f4a901ce09891a2467e2b8186f3f7a\"","X-OAuth-Scopes","user, public_repo, repo, repo:status, delete_repo, gist","X-Accepted-OAuth-Scopes","","Location","https://api.github.com/gists/3960e9f6422a8d3cd0feda0a3be845d4","X-GitHub-Media-Type","github.v3; format=json","Access-Control-Expose-Headers","ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type","Access-Control-Allow-Origin","*","Strict-Transport-Security","max-age=31536000; includeSubdomains; preload","X-Frame-Options","deny","X-Content-Type-Options","nosniff","X-XSS-Protection","1; mode=block","Referrer-Policy","origin-when-cross-origin, strict-origin-when-cross-origin","Content-Security-Policy","default-src 'none'","X-GitHub-Request-Id","E885:4FD3:273707:51E577:5CB933AA"]}]
