[{"scope":"https://api.github.com:443","method":"POST","path":"/authorizations","body":{"note":"Hello from the inside!","note_url":"https://github.com/node-gh/gh","scopes":["user","public_repo","repo","repo:status","delete_repo","gist"]},"status":201,"response":{"id":1000,"url":"https://api.github.com/authorizations/000000001","app":{"name":"Node GH (April 17th 2019, 11:21:16 pm)","url":"https://github.com/node-gh/gh","client_id":1001},"token":"234lkj23l4kj234lkj234lkj234lkj23l4kj234l","hashed_token":"234lkj23l4kj234lkj234lkj234lkj23l4kj234l","token_last_eight":"234lkj23l4kj234lkj234lkj234lkj23l4kj234l","note":"Node GH (April 17th 2019, 11:21:16 pm)","note_url":"https://github.com/node-gh/gh","created_at":"2017-10-10T16:00:00Z","updated_at":"2017-10-10T16:00:00Z","scopes":["user","public_repo","repo","repo:status","delete_repo","gist"],"fingerprint":null},"rawHeaders":["Server","GitHub.com","Date","Thu, 18 Apr 2019 06:21:16 GMT","Content-Type","application/json; charset=utf-8","Content-Length","620","Connection","close","Status","201 Created","X-RateLimit-Limit","5000","X-RateLimit-Remaining","4998","X-RateLimit-Reset","1555572007","Cache-Control","private, max-age=60, s-maxage=60","Vary","Accept, Authorization, Cookie, X-GitHub-OTP","ETag","Location","https://api.github.com/authorizations/281332886","X-GitHub-Media-Type","github.v3; format=json","Access-Control-Expose-Headers","ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type","Access-Control-Allow-Origin","*","Strict-Transport-Security","max-age=31536000; includeSubdomains; preload","X-Frame-Options","deny","X-Content-Type-Options","nosniff","X-XSS-Protection","1; mode=block","Referrer-Policy","origin-when-cross-origin, strict-origin-when-cross-origin","Content-Security-Policy","default-src 'none'","X-GitHub-Request-Id","C43F:2DC0:93F59B:174FBA2:5CB8175C"]}]
