{{repo}}
{{#branches}}
 {{name}} ({{total}})
 {{#pulls}}
   {{number}} {{{title}}} {{login}} ({{created_at}})
   {{#detailed}}
   {{{html_url}}}
   {{#body}}
   > {{{body}}}
   {{/body}}

   {{/detailed}}
 {{/pulls}}
{{/branches}}